# Project Name: Archiver
# .gitignore
# Description: This file lists all files and directories that Git should ignore.
# Note: Update this file if new sensitive or non-source files are introduced.

# Ignore files
config.sh
*.tar.enc

# Ignore directories
keys/
logs/
bundle/

# Add additional entries below
