# Project Name: Archiver
# .gitignore
# Description: This file lists all files and directories that Git should ignore.
# Note: Update this file if new sensitive or non-source files are introduced.

# Ignore specific secret script
secrets.sh

# Ignore .keys files
.keys/private.pem
.keys/public.pem
.keys/id_rsa
.keys/id_rsa.pub
.keys/secrets.sh

# Ignore logs directory
logs/

# Add additional entries below
