BACKUP_DIRECTORIES=(
  "/srv/*/"
  "/mnt/*/"
)

BACKUP_TARGET_1_NAME="name"
BACKUP_TARGET_1_TYPE="type"
BACKUP_TARGET_1_SFTP_URL="url.tld"
BACKUP_TARGET_1_SFTP_USER="user"
BACKUP_TARGET_1_SFTP_PATH="remote/path"
BACKUP_TARGET_1_SFTP_KEY_FILE="/path/to/id_rsa"

BACKUP_TARGET_2_NAME="testname"
BACKUP_TARGET_2_TYPE="testtype"
BACKUP_TARGET_2_URL="testurl"

# All Duplicacy
RSA_PASSPHRASE="XXXXX" # Passphrase for RSA private key
STORAGE_PASSWORD="XXXXX" # Password for Duplicacy storage

# Duplicacy OMV Storage
OMV_URL="sftp://user@<ip or fqdn>//path" # URL for OMV Duplicacy Storage

# Duplicacy BackBlaze Storage
B2_ID="XXXXX" # Account ID for BackBlaze Duplicacy Storage
B2_KEY="XXXXX" # Application key for BackBlaze Duplicacy Storage
B2_URL="b2://XXXXX" # URL for BackBlaze Duplicacy Storage

# Pushover Notifications
PUSHOVER_API_TOKEN="XXXXX" # Pushover application API token/key
PUSHOVER_USER_KEY="XXXXX" # Pushover user key (not email address), viewable when logged into Pushover dashboard

# Define primary Duplicacy-related configuration variables.
DUPLICACY_BIN="/path/to/duplicacy/bin" # Path to Duplicacy binary
DUPLICACY_KEY_DIR="${ARCHIVER_DIR}/.keys" # Path to Duplicacy key directory
DUPLICACY_SSH_KEY_FILE="${DUPLICACY_KEY_DIR}/id_rsa" # SSH key file
DUPLICACY_RSA_PUBLIC_KEY_FILE="${DUPLICACY_KEY_DIR}/public.pem" # Path to RSA public key file for Duplicacy
DUPLICACY_RSA_PRIVATE_KEY_FILE="${DUPLICACY_KEY_DIR}/private.pem" # Path to RSA private key file for Duplicacy

# OMV Duplicacy variables
DUPLICACY_OMV_STORAGE_NAME="omv" # Name of onsite storage for Duplicacy omv storage
DUPLICACY_OMV_STORAGE_URL="${OMV_URL}" # URL for onsite storage for Duplicacy omv storage
DUPLICACY_OMV_SSH_KEY_FILE="${DUPLICACY_SSH_KEY_FILE}" # SSH key file for Duplicacy omv storage
DUPLICACY_OMV_PASSWORD="${STORAGE_PASSWORD}" # Password for Duplicacy omv storage
DUPLICACY_OMV_RSA_PASSPHRASE="${RSA_PASSPHRASE}" # Passphrase for Duplicacy omv storage

# B2 Duplicacy varibles
DUPLICACY_BACKBLAZE_STORAGE_NAME="backblaze" # Name of offsite storage for Duplicacy backblaze storage
DUPLICACY_BACKBLAZE_STORAGE_URL="${B2_URL}" # URL for offsite storage for Duplicacy backblaze storage
DUPLICACY_BACKBLAZE_B2_ID="${B2_ID}" # Key ID for offsite storage for Duplicacy backblaze storage
DUPLICACY_BACKBLAZE_B2_KEY="${B2_KEY}" # Application Key for offsite storage for Duplicacy backblaze storage
DUPLICACY_BACKBLAZE_PASSWORD="${STORAGE_PASSWORD}" # Password for Duplicacy backblaze storage
DUPLICACY_BACKBLAZE_RSA_PASSPHRASE="${RSA_PASSPHRASE}" # Passphrase for Duplicacy backblaze storage
