#!/bin/bash
#
# Secrets File Template
# This file contains sensitive variables and should not be version controlled.
# Keep this file secure and do not share it publicly.
#
# Usage: source .keys/secrets.sh
#
# WARNING: Do not store sensitive information in plain text files without appropriate security measures.

# Define sensitive variables here

# All Duplicacy
RSA_PASSPHRASE="strongPassphrase" # Example: Passphrase for RSA private key
STORAGE_PASSWORD="strongStoragePassword" # Example: Password for Duplicacy storage

# Duplicacy OMV Storage
OMV_URL="sftp://archiver@192.168.1.1/duplicacy" # Example: URL for OMV Duplicacy Storage

# Duplicacy BackBlaze Storage
B2_ID="exampleB2Id" # Example: Account ID for BackBlaze Duplicacy Storage
B2_KEY="exampleB2Key" # Example: Application key for BackBlaze Duplicacy Storage
B2_URL="b2://duplicacy-bucket" # Example: URL for BackBlaze Duplicacy Storage

# Pushover Notifications
PUSHOVER_API_TOKEN="exampleApiToken" # Example: Pushover application API token/key
PUSHOVER_USER_KEY="exampleUserKey" # Example: Pushover user key (not email address), viewable when logged into Pushover dashboard
