#########################################################################################
# Archiver User Configuration                                                           #
#########################################################################################
# config.sh                                                                             #
#   This file is intended to be sourced by the Archiver script to define user           #
#   configurable variables.                                                             #
#                                                                                       #
# Usage:                                                                                #
#   Include this file as "config.sh" in the archiver directory                          #
#                                                                                       #
# Note:                                                                                 #
#   This script should not be executed directly. Instead, it will be sourced by the     #
#   Archiver script.                                                                    #
#                                                                                       #
# Instructions:                                                                         #
# - User must provide at least one service directory and one storage target.            #
# - User must provide the STORAGE_PASSWORD and RSA_PASSPHRASE to be used by Archiver.   #
# - User can optionally provide notification and backup rotation configurations.        #
#########################################################################################

# ------------------ #
# REQUIRED VARIABLES #
# ------------------ #
# Example SERVICE_DIRECTORIES
# Please provide a list of directories on your device to be backed up. Must provide the"
#   full paths. Can use * to indicate each individual subdirectory within the parent"
#   directory. Each directory will be backed up as an individual duplicacy repository."
  # SERVICE_DIRECTORIES=(
  #   "/srv/*/" # Will backup each subdirectory within /srv/ - multiple individual repositories.
  #   "/mnt/*/" # Will backup each subdirectory within /mnt/ - multiple individual repositories.
  #   "/home/cody/" # Will backup the /home/cody/ directory - one individual repository.
  # )

# Storage targets must be numbered sequentially, starting with 1, following the naming
#   scheme STORAGE_TARGET_X_OPTION="config", with all options for the same storage
#   using the same X number, as in the below examples. SFTP and BackBlaze storage
#   targets are currently supported. Require at least one storage target.

# Example SFTP Storage Target
  # STORAGE_TARGET_1_NAME="name" # You can call this whatever you want, but it must be unique.
  # STORAGE_TARGET_1_TYPE="sftp" # Currently support sftp, b2, and s3. For sftp, require URL, PORT, USER, PATH, and KEY_FILE as below.
  # STORAGE_TARGET_1_SFTP_URL="192.168.1.1" # The IP address or FQDN of the sftp host.
  # STORAGE_TARGET_1_SFTP_PORT="22" # The sftp port of the sftp host. Default is 22.
  # STORAGE_TARGET_1_SFTP_USER="user" # User with sftp privileges on sftp host.
  # STORAGE_TARGET_1_SFTP_PATH="remote/path" # Absolute path to remote backup directory. For synology, this starts with the name of the shared folder.
  # STORAGE_TARGET_1_SFTP_KEY_FILE="/path/to/id_ed25519" # Full path to private ssh key file.

# Example B2 Storage Target
  # STORAGE_TARGET_2_NAME="name" # You can call this whatever you want, but it must be unique.
  # STORAGE_TARGET_2_TYPE="b2" # Currently support sftp, b2, and s3. For b2, require BUCKETNAME, ID, and KEY as below.
  # STORAGE_TARGET_2_B2_BUCKETNAME="bucketName" # BackBlaze bucket name. Must be globally unique.
  # STORAGE_TARGET_2_B2_ID="keyID" # BackBlaze keyID with read/write access to the above bucket.
  # STORAGE_TARGET_2_B2_KEY="applicationKey" # BackBlaze applicationKey with read/write access to the above bucket.

# Example S3 Storage Target
  # STORAGE_TARGET_3_NAME="name" # You can call this whatever you want, but it must be unique.
  # STORAGE_TARGET_3_TYPE="s3" # Currently support sftp, b2, and s3. For s3, require BUCKETNAME, ENDPOINT, ID, and SECRET as below.
  # STORAGE_TARGET_3_S3_BUCKETNAME="bucketName" # S3 bucket name. Must be globally unique.
  # STORAGE_TARGET_3_S3_ENDPOINT="endpoint" # S3 endpoint (ex: s3.us-east-1.amazonaws.com or hel1.your-objectstorage.com).
  # STORAGE_TARGET_3_S3_ID="id" # S3 Access ID with read/write access to the bucket.
  # STORAGE_TARGET_3_S3_SECRET="secret" # S3 Secret Key with read/write access to the bucket.

# Secrets for all Duplicacy storage targets
  # STORAGE_PASSWORD="" # Password for Duplicacy storage (required)
  # RSA_PASSPHRASE="" # Passphrase for RSA private key (required)


# ------------------ #
# OPTIONAL VARIABLES #
# ------------------ #
# Notifications
  # NOTIFICATION_SERVICE="" # Currently support 'Pushover' or 'None'
  # PUSHOVER_USER_KEY="" # Pushover user key (not email address), viewable when logged into Pushover dashboard
  # PUSHOVER_API_TOKEN="" # Pushover application API token/key

# Backup Rotation
  # ROTATE_BACKUPS="" # Default: "true". Set to 'true' to enable rotating out older backups.
  # PRUNE_KEEP="" # Default: "-keep 0:180 -keep 30:30 -keep 7:7 -keep 1:1". See https://forum.duplicacy.com/t/prune-command-details/1005 for details.
